<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416577135451-4ivnnn72v389k6ve2acsuhj15c8t54l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416577135451-4ivnnn72v389k6ve2acsuhj15c8t54l2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>416577135451-qe0p5mbkhjundk9vojvijgo07b9du259.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtKqIxrG0ON-ge6j5Q1UITCy3aN41h9Do</string>
	<key>GCM_SENDER_ID</key>
	<string>416577135451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.econmeracApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-b9a35</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-b9a35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416577135451:ios:32d261baae0b356992f07e</string>
</dict>
</plist>